 /* TABLET */
 .allMenu{
    width: 100%;
    height: 100vh;
}       
.sectionOrders{
    background-color: #EBA83A;
    width: 100%;
    height: 34%;
    position: absolute;
    bottom: 0%;  
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}
.options{
    position: absolute;
    top: 8%;
    left: 22%;
    display: flex;
    column-gap: 5%;
}
.options button{
    background-color: #EBA83A;
    width: 25vh;
    height: 5vh;
    font-size: 2.1rem;
    border: none;
    border-radius: 12px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.25);
    font-family: 'Cookie', cursive;

}
.pressTypeFood{
    background-color: #EBA83A;
    width: 29vh;
    height: 7vh;
    font-size: 1.4rem;
    border: none;
    border-radius: 12px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.25);
    box-shadow: inset 0 0 10px #000000;
}
.Back{
    position: absolute;
    top: 4%;
    left: 5%;
    width: 7vh;
}
.Products{
    position:absolute;
    display: grid;
    grid-template-columns: 22vh 22vh;
    grid-column-gap: 8%;
    top: 18%;
    left: 23.5%;
}
.Send{
    position: absolute;
    bottom: 15%;
    right: 5%;
    width: 10vh;
    height: 9vh;
}
.messageSend{
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-weight: bold;
    font-size: 1.2rem;
}
.nameTable{
    position: relative;
    right: 20%;
    font-family: 'Cookie', cursive;
    font-size: 2.2rem;
}
.numberTable{
    font-size: 2rem;
    font-family: 'Cookie', cursive;
}

@media screen and (orientation: landscape) {
    .allMenu{
        width: 100%;
        height: 100vh;
    }   
.sectionOrders{
    background-color: #EBA83A;
    width: 34%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
.numberTable{
    font-size: 2rem;
    font-family: 'Cookie', cursive;
}
.nameTable{
    font-family: 'Cookie', cursive;
    font-size: 2.2rem;
}
.options{
    position: absolute;
    top: 10%;
    left: 14%;
    display: flex;
    column-gap: 5%;
}
.options button{
    background-color: #EBA83A;
    width: 29vh;
    height: 7vh;
    font-size: 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.25);
    font-family: 'Cookie', cursive;
}
.pressTypeFood{
    background-color: #EBA83A;
    width: 29vh;
    height: 7vh;
    font-size: 1.4rem;
    border: none;
    border-radius: 12px;
    box-shadow: -4px 4px 4px rgb(0, 0, 0, 0.25);
    box-shadow: inset 0 0 10px #000000;
}
.Back{
    position: absolute;
    top: 4%;
    left: 3%;
    width: 8vh;
}
.Products{
    position:absolute;
    display: grid;
    grid-template-columns: 25vh 25vh;
    grid-column-gap: 9%;
    top: 22%;
    left: 15%;
}
.Send{
    position: absolute;
    bottom: 7%;
    right: 9%;
    width: 10vh;
    height: 9vh;
}
.messageSend{
    position: absolute;
    bottom: 0%;
    right: 9%;
}

}